*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Titolo{
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 44px;
}

#Grandezza{
    width: 100%;
    background-color: white;
    margin: auto;
    
}

body{
    background-color:#DBDDF1;
}
.Colore{
width: 80%;
background-color: white;
}

main{
    width: 75%;
    height: 600px;
    margin: 0 auto;
    background-color: white;
}
#tasto1{
    border-radius: 20%;
    background-color: #47ADF1;
    color: white;
    border-color: #47ADF1;
    padding: 2px;
    
}

thead, li {
    border: none;
    padding: 12px;
}

#tasto2{
    border-radius: 20%;
    border-color: lightgray;
    background-color: white;
    color: lightgrey;
    padding: 2px;
    }

.tasti{
   border: 3px solid #DBDDF1; 
   margin-top: 30px;

}
li{
    list-style: none;
}

.tasticolorati{
    border-radius: 15%;
    background-color: #47ADF1;
    color: white;
    border-color: #47ADF1;
    padding: 2px;
    
}

.tasticolorativiola{
border-radius: 15%;
background-color:violet;
color: white;
padding: 2px;
}

.tasticoloratiazzurro{
    border-radius: 15%;
background-color:lightblue;
color: white;
padding: 2px;
}

.Mobile{
    border-radius: 15%;
background-color:orange;
color: white;
padding: 2px;
}

.tasticoloratirosa{
    border-radius: 15%;
    background-color:pink;
    color: white;
    padding: 2px;
}

.tasticolorativerde{
    border-radius: 15%;
    background-color:green;
    color: white;
    padding: 2px;
}

.tabella{
margin-left: 40px;
}