*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: aqua;
}
#Titolo{
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 44px;
}

#Grandezza{
    width: 100%;
    background-color: white;
    margin: auto;
    
}

.Colore{
width: 80%;
background-color: white;
}

main{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    background-color: red;
}
#tasto1{
    border-radius: 30%;
}

#tasto2{
    border-radius: 30%;
    }

